<div class="fashion">
  <div class="hashionHeader">
    <h1 style="font-weight: bold">Up to 75% off | Newly Lounched products</h1>
  </div>
  <div class="category">
    <mat-card class="categoryCard">
      <mat-card-header>
        <mat-card-title style="font-size: 18px">Most loved products</mat-card-title>
      </mat-card-header>
      <div class="Image">
        <img mat-card-image src="laptops.png" />
      </div>
      <mat-card-content>
        <p>Laptops</p>
      </mat-card-content>
      <mat-card-actions style="justify-content: space-around">
        <button mat-button (click)="seeAllLaptops()">See all offers</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="categoryCard">
      <mat-card-header>
        <mat-card-title style="font-size: 18px">Checkout our new collection</mat-card-title>
      </mat-card-header>
      <div class="Image">
        <img mat-card-image src="phones.png" />
      </div>
      <mat-card-content>
        <p>Phones</p>
      </mat-card-content>
      <mat-card-actions style="justify-content: space-around">
        <button mat-button>See all offers</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="categoryCard">
      <mat-card-header>
        <mat-card-title style="font-size: 18px">Most waited sony products</mat-card-title>
      </mat-card-header>
      <div class="Image">
        <img mat-card-image src="Headphones.png" />
      </div>
      <mat-card-content>
        <p>Headphones</p>
      </mat-card-content>
      <mat-card-actions style="justify-content: space-around">
        <button mat-button>See all offers</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="categoryCard">
      <mat-card-header>
        <mat-card-title style="font-size: 18px">checkout new tablets</mat-card-title>
      </mat-card-header>
      <div class="Image">
        <img mat-card-image src="Tablets.png" />
      </div>
      <mat-card-content>
        <p>tablets</p>
      </mat-card-content>
      <mat-card-actions style="justify-content: space-around">
        <button mat-button>See all offers</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
