<div class="grid">
    <div class="hashionHeader">
      <h2 style="font-weight: bold">WHY SHOP WITH US</h2>
    </div>
    <div class="category">
        <div class="chooseUscard">
            <img src="truck.svg" alt="" srcset="" style="width: 64px;" >
            <h6>Fast Delivery</h6>
            <p>variations of passages of lorem available</p>          
        </div>
        <div class="chooseUscard">
            <img src="free.svg" alt="" srcset="" style="width: 64px;" >
            <h6>Free Shiping</h6>
            <p>variations of passages of Lorem Ipsum available</p>          
        </div>
        <div class="chooseUscard">
            <img src="high-quality.svg" alt="" srcset="" style="width: 64px;" >
            <h6>Best Quality</h6>
            <p>variations of passages of lorem available</p>          
        </div>
    </div>
  </div>
  