.fashion{
    display: flex;
    flex-direction: column;
    padding: 2vh 6vw;
}
.hashionHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.Laptop{
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}