<div class="footer">
  <div class="socialmedia">
    <img src="youtube.svg" alt="" srcset="">
    <img src="instagram.svg" alt="" srcset="">
    <img src="linkedin.svg" alt="" srcset="">
    <img src="whatsapp.svg" alt="" srcset="">
  </div>
  <div class="info">
    <div class="column">
      <h6>ABOUT US</h6>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum
      dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum dolor sit
      amet,
    </div>
    <div class="column">
        <mat-form-field>
            <input matInput placeholder="your Email ">
        </mat-form-field>
      <br>
      <button mat-flat-button> SUBSCRIBE </button>
      <span class="example-spacer"></span>
    </div>
    <div class="column">
      <h6>NEED HELP</h6>
      <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum
      dolor sit amet, consectetur adipiscing elit, sed doLorem ipsum dolor sit
      amet,
    </div>
    <div class="column">
      <h6>CONTACT US</h6>
      <br>
      <div class="contact">
        <mat-icon class="material-symbols-outlined" >home_pin</mat-icon>
        Gb road 123 london Uk
      </div>
      <div class="contact">
        <mat-icon class="material-symbols-outlined" >call</mat-icon>
        +91 8005883696
      </div>
      <div class="contact">
        <mat-icon class="material-symbols-outlined" >mail</mat-icon>
        maildomin.com
      </div>
    </div>
  </div>
  <div class="line"></div>
  <div class="copyright">
    <h6>© 2024 All Rights Reserved. By HTML Design</h6>
  </div>
</div>
